{% if posts is empty %}
    <h1>Sorry, nothing to display here.</h1>
{% endif %}
{% for post in posts %}

    <div class="col-12 my-2">
        <article class="category-listing shadow-sm border-dark">
            <div class="row justify-content-center no-gutters">
                <div class="col-md-10 text-center">
                    <h2 class="entry-title">
                        <a href="/post/view-post/{{ post.posts_slug }}">{{ post.title }}</a>
                    </h2>
                </div>
            </div>

            <div class="row align-items-center no-gutters">
                <div class="col-md-3">
                    <div class="index_article_post_image ml-1">
                        <a class="index_article_post_image_link hoverImage rounded"
                           href="/post/view-post/{{ post.posts_slug }}">
                            <div class="">
                                <img src="{{ not post.post_image ? configs.no_image_replacement : post.post_image }}" class="img-fluid w-100 rounded border-dark shadow-sm">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 px-2 text-center">
                    {{ post.excerpt|raw  }}
                </div>

            </div>
            {% if session.user_role_level >= levelConst.adminLevel %}
                <div class="admin float-right mr-3 mt-2">
                    <a href="/admin/post/modify/{{ post.posts_slug }}" class="btn btn-primary">Edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>
            {% endif %}

        </article>

    </div>
{% endfor %}
