{% extends "Admin/Base.twig" %}
{% block main %}

    {% for key, val in configList %}
        <h1>{{ key |replace({'_':' '})}}</h1>
        <form action="/admin/update/update-config" method="post">
        {% for config in val %}
            <div class="form-group col-10">
                <label for="config-{{ config.idconfigs }}">{{ config.configs_name|replace({'_':' '}) }}</label>
                <input type="text" class="form-control" name="config-{{ config.idconfigs }}" id="config-{{ config.idconfigs }}" data-configId="{{ config.idconfigs }}" value="{{ config.configs_value }}">

            </div>
        {% endfor %}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    {% endfor %}

{% endblock %}