{% extends "Admin/Base.twig" %}
{% block main %}

    <form action="/admin/home/update-user" method="post" id="updateUser">
        <div class="row">
            <div class="form-group col-lg-8">
                <h1>Profile of {{ user.name }} {{ user.surname }}</h1>
                <p><strong>Registered Email :</strong> {{ user.email }}</p>
                <input type="hidden" name="userId" id="userid" value="{{ user.idusers }}">

                <label for="userName" class="mt-3">Name</label>
                <input type="text" class="form-control" id="userName" name="userName" value="{{ user.name }}" aria-describedby="userNameHelpBlock">
                <small id="userNameHelpBlock" class="form-text text-danger w-100 pl-3">
                    {{ registrationErrors.userName }}
                </small>

                <label for="userSurname" class="mt-3">SurName</label>
                <input type="text" class="form-control" id="userSurname" name="userSurname" value="{{ user.surname }}" aria-describedby="userSurnameHelpBlock">
                <small id="userSurnameHelpBlock" class="form-text text-danger w-100 pl-3">
                    {{ registrationErrors.userSurname }}
                </small>

                <label for="userUsername" class="mt-3">Username</label>
                <input type="text" class="form-control" id="userUsername" name="userUsername" value="{{ user.username }}" aria-describedby="userUsernameHelpBlock">
                <small id="userUsernameHelpBlock" class="form-text text-danger w-100 pl-3">
                    {{ registrationErrors.userUsername }}
                </small>

                {% if userLevel >= levelConst.adminLevel  %}
                    {# Admin only modifiable elements #}
                    <label for="userRoleSelector" class="mt-3">User Role</label>
                    <select name="userRoleSelector" id="userRoleSelector" class="form-control" {{ user.idusers == 1 ? "disabled" : "" }}>
                        {% for role in roles %}
                            <option value="{{ role.idroles }}" {{ role.idroles == user.roles_idroles ? "selected" }}>{{ role.role_name }}</option>
                        {% endfor %}
                    </select>

                    <label class="mt-3" for="userLockedOut">User Locked Out</label>
                    <select name="userLockedOut" id="userLockedOut" class="form-control" {{ user.idusers == 1 ? "disabled" : "" }}>
                        <option value="1" {{ user.locked_out == 1 ? "selected" }}>True</option>
                        <option value="0" {{ user.locked_out == 0 ? "selected" }}>False</option>
                    </select>
                {% else %}
                    {# User only elements #}
                    <div class="border border-danger rounded mt-3 p-3">
                        <p>Change your password</p>
                        {% include "Includes/ResetPassword-form.twig" %}
                    </div>

                    <p class="mt-3"><strong>User level :</strong> {{ user.role_name }}</p>
                {% endif %}
            </div>
            <div class="form-group col-lg-4">

                <!-- Unmodifiable info -->
                <p class="mt-3"><strong>Account creation :</strong> {{ user.creation_date }}</p>
                <p class="mt-3"><strong>Last modification :</strong> {{ user.last_update }}</p>

                <label for="userImage" class="mt-3">Avatar</label>

                <input type="text" class="form-control" name="userImage" id="userImage" value="{{ user.avatar }}" placeholder="Image URL">

                <p class="text-center mt-3 display-image image-upload-height">
                    <img src="{{ not user.avatar ? configs.no_image_replacement : user.avatar }}" class="img-thumbnail display-image img-fluid image-upload-height">
                </p>
                <input type="file" class="image-upload" id="userImageUpload">

            </div>
            <button type="submit" class="btn btn-primary ml-3">Update Profile</button>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script>
        setupAjax();

        //---------------------------------------
        // Form validation
        //---------------------------------------
        $.validator.addMethod("validPassword",
            function (value, element, param) {
                if (value != "") {
                    if (value.match(/.*[A-Za-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/i) == null) {
                        return false;
                    }
                }

                return true;
            },
            "Must contain at least one letter and one number"
        );

        $("#updateUser").validate({
            rules: {
                userName: "required",
                userSurname: "required",
                userUsername: "required",
                forgotPassword: {
                    minlength: 8,
                    validPassword: true
                },
                forgotConfirm: {
                    equalTo: "#forgotPassword"
                }
            }
        });
        $("#forgotPasswordShow").click(function () {
            $("#forgotPassword").hideShowPassword('toggle');
        });

        $("#forgotPasswordConfirmShow").click(function () {
            $("#forgotConfirm").hideShowPassword('toggle');
        });

        //---------------------------------------
        // User image upload
        //---------------------------------------

        //Initialise the file upload
        var $imageUpload = $("#userImageUpload");

        var $setImage = $imageUpload.siblings("p.display-image").children("img.display-image");
        var $setUrl = $imageUpload.siblings("input.form-control");
        var $fileInputOptions = {
        showPreview: false,
        uploadUrl: "/ajax/image-upload/file-input-user-upload",
        maxFileCount: 1,
        showRemove: false,
        allowedFileTypes:['image']
        }
        $imageUpload.fileinput($fileInputOptions);

        //once the file is uploaded
        $imageUpload.on('fileuploaded', function (event, data) {
        var $url = "/" + data.response["location"];
        $setImage.attr("src", $url);
        $setUrl.attr("value", $url);
        setupToastr();
        toastr.info('image uploaded');
        $imageUpload.fileinput('clearStack').fileinput('refresh', $fileInputOptions);
        });

        $imageUpload.on('fileuploaderror', function(event, data, msg) {

        setupToastr();
        toastr.error(msg);
        $imageUpload.fileinput('clearStack').fileinput('refresh', $fileInputOptions);

        });

        //if we enter a url
        $("#postImage").keyup(function () {
        $setImage.attr("src", $(this).val());
        });
    </script>
{% endblock %}