{% extends "Admin/Base.twig" %}

{% block main %}
    <form action="/admin/post/create-new-post" method="post" id="newPost">
        <div class="row">
            <div class="form-group col-lg-8">

                <label for="newPostTitle">Post Name</label>
                <input type="text" class="form-control" id="newPostTitle" name="newPostTitle">
                <small id="newPostTitleHelp" class="form-text text-muted  mb-3"></small>

                <label for="newPostSlug">Post Slug</label>
                <input type="text" class="form-control" id="newPostSlug" name="newPostSlug" data-manual="false">
                <small id="newPostSlugHelp" class="form-text text-muted  mb-3"></small>

                <textarea id="newPostTextArea" name="newPostTextArea"></textarea>

            </div>
            <div class="form-group col-lg-4">

                <label for="newPostImage">Post Image</label>

                <input type="text" class="form-control" name="newPostImage" id="newPostImage" value="">

                <p class="text-center mt-3 display-image image-upload-height">
                    <img src="" class="img-thumbnail display-image img-fluid image-upload-height">
                </p>
                <input type="file" class="image-upload" id="postImageUpload">


                <label for="categorySelector">Select a category</label>
                <select name="categorySelector" id="categorySelector" class="form-control">
                    {% for category in categories %}
                        <option value="{{ category.idcategories }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>

                <label for="isPublished">Published</label>
                <select name="isPublished" id="isPublished" class="form-control">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>

                <label for="isOnFrontPage">On Front Page</label>
                <select name="isOnFrontPage" id="isOnFrontPage" class="form-control">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>

                <label for="tagSelector">add tags</label>

                <div class="input-group">

                    <input list="tags" type="text" class="form-control" id="tagSelector" name="tagSelector"
                           data-idtags="" autocomplete="off">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="addTag">Add</button>
               </span>
                    <datalist id="tags">
                        {% for tag in tags %}
                            <option id="tags-{{ tag.tag_name }}" value="{{ tag.tag_name }}"
                                    data-idtags="{{ tag.idtags }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <span id="selectedTags"></span>

            </div>
        </div>
        <button type="submit" class="btn btn-primary ml-3 update-config-button">Create new post</button>
    </form>
{% endblock %}

{% block js %}
    <script>
        setupAjax();
        setupTinymce("#newPostTextArea");

        //Slugify the title on key up
        var $slugRequest = null;
        $("#newPostTitle").keyup(function () {
            //if we have manualy set the slug, do not update
            if($("#newPostSlug").attr("data-manual") == "true")
            {
                return;
            }
            $text = $("#newPostTitle").val();
            if ($slugRequest !== null) {
                $slugRequest.abort();
            }

            $slugRequest = $.ajax({
                url: "/ajax/ajaxSlugify/slugify-string",
                data: {'slugText-update': $text}
            }).done(function ($result) {
                $("#newPostSlug").val($result.slug).change();
            });
        });

        function removeManualSlug(){
            $("#newPostSlug").attr("data-manual","false");
            $("#newPostTitleHelp").html("");
            $("#newPostTitle").keyup();
        }

        //check if slug is unique
        var $slugUniqueRequest = null;
        $("#newPostSlug").keyup(function(){
            //we are manualy updating the slug
            $(this).attr("data-manual","true");
            $("#newPostTitleHelp").html("Slug manual input <i class=\"fa fa-times-circle-o\" onclick=\"removeManualSlug()\" aria-hidden=\"true\"></i>");
            $(this).change();
        });
        $("#newPostSlug").change(function(){
            $slug = $(this).val();
            if ($slugUniqueRequest !== null){
                $slugUniqueRequest.abort();
            }
            $("#newPostSlugHelp").html("<i class=\"fa fa-spinner fa-spin\" aria-hidden=\"true\"></i>Slug not unique");
            $slugUniqueRequest = $.ajax({
                url: "/ajax/post-verification/is-slug-unique/",
                data: {'postSlug': $slug}
            }).done(function($result){
                if(!$result){
                    $("#newPostSlugHelp").html("<i class=\"fa fa-times\" aria-hidden=\"true\"></i>Slug not unique or invalid");
                    return;
                }
                $("#newPostSlugHelp").html("<i class=\"fa fa-check\" aria-hidden=\"true\"></i>Slug is valid");
            });

        });

        //Add tag
        var $tagNumber = 0;
        $("#addTag").on("click", function ($e) {
            var $value = $("#tagSelector").val().trim();
            if ($value !== "") { //only do action if we have a tag
                var $option = $("#tags").find("[value=\"" + $value + "\"]");

                var $tagHtml = "<span class=\"tagChip\">";

                $tagHtml += "<div class=\"chip mx-1 mt-2\">" + $value + "<i class=\"fa fa-times-circle-o closebtn\" aria-hidden=\"true\" onclick=\"closeMe(this)\"></i>" + "</div>";

                //the tag value
                $tagHtml += "<input name=\"tags[" + $tagNumber + "][name]\" class=\"selected-tags\" type=\"hidden\" value=\"" + $value + "\" readonly>";

                if ($option.length > 0) { //if the tag already exists, add the id
                    $tagHtml += "<input name=\"tags[" + $tagNumber + "][id]\" class=\"selected-tags\" type=\"hidden\" value=\"" + $option.data("idtags") + "\" readonly>";
                }
                $tagHtml += "</span>";
                $("#selectedTags").append($tagHtml);
                $("#tagSelector").val("");
                $tagNumber += 1;
            }
        });

        //remove tag
        function closeMe($element) {
            $($element).parents("span.tagChip").remove();
        }

        //ajax to do the testing before submit
        var $submitting = false;
        $("#newPost").on("submit", function ($e) {
            //over-ride the submit button if we are adding tags. Just add tag instead
            if ($("#tagSelector").is(":focus")) {
                $e.preventDefault();
                $("#addTag").click();
                return;
            }

            //submitting toggle to avoid loop

            if (!$submitting) {
                setupToastr();
                $e.preventDefault(); //stop the send while ajax verification
                if ($("#newPostTitle").val().trim() == "") {
                    toastr.error("title is empty");
                    return
                }
                if ($("#newPostSlug").val().trim() == "") {
                    toastr.error("Slug is empty");
                    return
                }

                $slugValue = $("#newPostSlug").val();
                $.ajax({
                    url: "/ajax/post-verification/is-slug-unique/",
                    data: {'postSlug': $slugValue}
                }).done(function ($result) {
                    if ($result) {
                        $submitting = true;
                        $("#newPost").submit();
                        return;
                    }

                    toastr.error('Slug not unique');
                });
            }

        });

        //---------------------------------------
        // Post image upload
        //---------------------------------------

        //Initialise the file upload
        var $postImageUpload = $("#postImageUpload");

        var $setImage = $postImageUpload.siblings("p.display-image").children("img.display-image");
        var $setUrl = $postImageUpload.siblings("input.form-control");
        $postImageUpload.fileinput({
            showPreview: false,
            uploadUrl: "/ajax/image-upload/file-input-post-upload",
            maxFileCount: 1,
            showRemove: false
        });

        //once the file is uploaded
        $postImageUpload.on('fileuploaded', function (event, data) {
            var $url = "/" + data.response["location"];
            $setImage.attr("src", $url);
            $setUrl.attr("value", $url);
            setupToastr();
            toastr.info('image uploaded');
        });

        //if we enter a url
        $("#newPostImage").keyup(function () {
            $setImage.attr("src", $(this).val());
        });

    </script>

{% endblock %}