{% extends "Admin/Base.twig" %}

{% block main %}
<form action="/admin/new/post" method="post">

    <div class="row">
        <div class="form-group col-md-8">
            <label for="newPostTitle">Post Name</label>
            <input type="text" class="form-control" id="newPostTitle" name="newPostTitle">
        </div>
        <div class="form-group col-md-8">
            <label for="newPostSlug">Post Slug</label>
            <input type="text" class="form-control" id="newPostSlug" name="newPostSlug">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-8">
            <textarea id="newPostTextArea" name="newPostTextArea"></textarea>
        </div>
        <div class="form-group col-md-4">
            <label for="categorySelector">Select a category</label>
            <select name="categorySelector" id="categorySelector" class="form-control">
                {% for category in categories %}
                    <option value="{{ category.idcategories }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
            <label for="tagSelector">add tags</label>

            <div class="input-group">

                <input list="tags" type="text" class="form-control" id="tagSelector" name="tagSelector" data-idtags="" autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="addTag">Add</button>
               </span>
                <datalist id="tags">
                    {% for tag in tags %}
                        <option id="tags-{{ tag.tag_name }}" value="{{ tag.tag_name }}" data-idtags="{{ tag.idtags }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <span id="selectedTags"></span>

        </div>
    </div>

</form>
{% endblock %}

{% block js %}
<script>
    setupTinymce("#newPostTextArea");

    //Slugify the title on key up
    setupAjax();
    var $slugRequest = null;
    $("#newPostTitle").keyup(function () {
        $text = $("#newPostTitle").val();
        if($slugRequest !== null){
            $slugRequest.abort();
        }

        $slugRequest = $.ajax({
            url: "/ajax/ajaxSlugify/slugify-string",
            data: {'slugText-update': $text}
        }).done(function($result){
            $("#newPostSlug").val($result.slug);
        });
    });

    //Add tag

    $("#addTag").on("click",function($e){
        //add the tag + id to the post
        //Also must create new tags
        var value = $("#tagSelector").val();
        var option = $("#tags").find("[value=\""+value+"\"]");
        var tagHtml = "<span><input class=\"selected-tags\" type=\"text\" data-idtags=\""+option.data("idtags")+"\" value=\""+value+"\" readonly><i class=\"fa fa-times-circle-o\" aria-hidden=\"true\" onclick=\"closeMe(this)\"></i></span>";
        $("#selectedTags").append(tagHtml);
        $("#tagSelector").val("");
    });

    //remove tag
    function closeMe(element){
        $(element).parent("span").remove();
    }
</script>

{% endblock %}