{% extends "Admin/Base.twig" %}

{% block main %}
    <form action="/admin/post/create-new-post" method="post" id="newPost">
        <div class="row">
            <div class="form-group col-lg-8">

                <label for="newPostTitle">Post Name</label>
                <input type="text" class="form-control" id="newPostTitle" name="newPostTitle">

                <label for="newPostSlug">Post Slug</label>
                <input type="text" class="form-control mb-3" id="newPostSlug" name="newPostSlug">

                <textarea id="newPostTextArea" name="newPostTextArea"></textarea>

            </div>
            <div class="form-group col-lg-4">

                <label for="newPostImage">Post Image</label>

                <input type="text" class="form-control" name="newPostImage" id="newPostImage" value="">

                    <p class="text-center mt-3 display-image image-upload-height">
                        <img src="" class="img-thumbnail display-image img-fluid image-upload-height">
                    </p>
                    <input type="file" class="image-upload" id="postImageUpload">


                <label for="categorySelector">Select a category</label>
                <select name="categorySelector" id="categorySelector" class="form-control">
                    {% for category in categories %}
                        <option value="{{ category.idcategories }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>

                <label for="isPublished">Published</label>
                <select name="isPublished" id="isPublished" class="form-control">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>

                <label for="isOnFrontPage">On Front Page</label>
                <select name="isOnFrontPage" id="isOnFrontPage" class="form-control">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>

                <label for="tagSelector">add tags</label>

                <div class="input-group">

                    <input list="tags" type="text" class="form-control" id="tagSelector" name="tagSelector"
                           data-idtags="" autocomplete="off">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="addTag">Add</button>
               </span>
                    <datalist id="tags">
                        {% for tag in tags %}
                            <option id="tags-{{ tag.tag_name }}" value="{{ tag.tag_name }}"
                                    data-idtags="{{ tag.idtags }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <span id="selectedTags"></span>

            </div>
        </div>
        <button type="submit" class="btn btn-primary ml-3 update-config-button">Create new post</button>
    </form>
{% endblock %}

{% block js %}
    <script>
        setupAjax();
        setupTinymce("#newPostTextArea");

        //Slugify the title on key up
        var $slugRequest = null;
        $("#newPostTitle").keyup(function () {
            $text = $("#newPostTitle").val();
            if ($slugRequest !== null) {
                $slugRequest.abort();
            }

            $slugRequest = $.ajax({
                url: "/ajax/ajaxSlugify/slugify-string",
                data: {'slugText-update': $text}
            }).done(function ($result) {
                $("#newPostSlug").val($result.slug);
            });
        });

        //Add tag
        var $tagNumber = 0;
        $("#addTag").on("click", function ($e) {
            var $value = $("#tagSelector").val().trim();
            if ($value !== "") { //only do action if we have a tag
                var $option = $("#tags").find("[value=\"" + $value + "\"]");

                var $tagHtml = "<span class=\"tagChip\">";

                $tagHtml += "<div class=\"chip mx-1 mt-2\">" +$value+ "<i class=\"fa fa-times-circle-o closebtn\" aria-hidden=\"true\" onclick=\"closeMe(this)\"></i>"+"</div>";

                //the tag value
                $tagHtml += "<input name=\"tags[" + $tagNumber + "][name]\" class=\"selected-tags\" type=\"hidden\" value=\"" + $value + "\" readonly>";

                if ($option.length > 0) { //if the tag already exists, add the id
                    $tagHtml += "<input name=\"tags[" + $tagNumber + "][id]\" class=\"selected-tags\" type=\"hidden\" value=\"" + $option.data("idtags") + "\" readonly>";
                }
                $tagHtml += "</span>";
                $("#selectedTags").append($tagHtml);
                $("#tagSelector").val("");
                $tagNumber += 1;
            }
        });

        //remove tag
        function closeMe($element) {
            $($element).parents("span.tagChip").remove();
        }

        //ajax to do the testing before submit
        $("#newPost").on("submit", function($e){
            //over-ride the submit button if we are adding tags. Just add tag instead
            if($("#tagSelector").is(":focus")){
                $e.preventDefault();
                $("#addTag").click();
                return;
            }
        });

        //---------------------------------------
        // Post image upload
        //---------------------------------------

        //Initialise the file upload
        var $postImageUpload = $("#postImageUpload");

        var $setImage = $postImageUpload.siblings("p.display-image").children("img.display-image");
        var $setUrl = $postImageUpload.siblings("input.form-control");
        $postImageUpload.fileinput({
            showPreview: false,
            uploadUrl: "/ajax/image-upload/file-input-post-upload",
            maxFileCount: 1,
            showRemove: false
        });

        //once the file is uploaded
        $postImageUpload.on('fileuploaded', function (event, data) {
            var $url = "/" + data.response["location"];
            $setImage.attr("src", $url);
            $setUrl.attr("value", $url);
            setupToastr();
            toastr.info('image uploaded');
        });

        //if we enter a url
        $("#newPostImage").keyup(function(){
            $setImage.attr("src", $(this).val());
        });

    </script>

{% endblock %}