{% extends "Base.twig" %}

{% block title %}Home Page{% endblock %}

{% block main %}
    {% include "Includes/Contactform-modal.twig" %}
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 wow slideInLeft">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon social-icon d-flex justify-content-center align-items-center">
                            {% if configs.social_icons_linkedin != '' %}<a class="hvr-bounce-in"
                                                                           href="{{ configs.social_icons_linkedin }}"><i
                                        class="fa fa-linkedin"></i></a>{% endif %}
                            {% if configs.social_icons_github != '' %}<a class="hvr-bounce-in"
                                                                         href="{{ configs.social_icons_github }}"><i
                                        class="fa fa-github-alt"></i></a>{% endif %}
                            {% if configs.social_icons_twitter != '' %}<a class="hvr-bounce-in"
                                                                          href="{{ configs.social_icons_twitter }}"><i
                                        class="fa fa-twitter"></i></a>{% endif %}
                            {% if configs.social_icons_facebook != '' %}<a class="hvr-bounce-in"
                                                                           href="{{ configs.social_icons_facebook }}"><i
                                        class="fa fa-facebook"></i></a>{% endif %}
                            {% if configs.social_icons_website != '' %}<a class="hvr-bounce-in"
                                                                          href="{{ configs.social_icons_website }}"><i
                                        class="fa fa-wordpress"></i></a>{% endif %}
                        </div>
                        <h3>Being Social</h3>
                        <p class="lead mb-0">All the social networking</p>
                    </div>
                </div>
                <div class="col-lg-4 wow bounceIn">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center about-me">
                            <a class="hvr-bounce-in" href="#">
                                <img class="img-fluid rounded-circle" src="{{ not configs.about_me_image ? configs.no_image_replacement : configs.about_me_image }}">
                            </a>
                        </div>
                        <h3>About Me</h3>
                        <p class="lead mb-0">Check out my stuff</p>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInRight">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a class="hvr-bounce-in" data-toggle="modal" href="#contactformModal"><i
                                        class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                        <h3>Contact Me</h3>
                        <p class="lead mb-0">Use the contact form to get in touch</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            {% for post in front_posts %}
                <div class="row no-gutters wow lightSpeedIn">

                    <div class="col-lg-6 {% if loop.index is odd %}order-lg-2{% endif %} text-white showcase-img "
                         style="background-image: url('{{ not post.post_image ? configs.no_image_replacement : post.post_image }}');"></div>
                    <div class="col-lg-6 {% if loop.index is odd %}order-lg-1{% endif %} my-auto showcase-text">
                        <h2><a href="/post/view-post/{{ post.posts_slug }}">{{ post.title }}</a></h2>
                        <p class="lead mb-0">{{ post.excerpt|raw }}</p>
                        <p><a href="/post/view-post/{{ post.posts_slug }}">Read more</a></p>
                        <p>Category: <a href="/category/posts/{{ post.categories_slug }}">{{ post.category_name }}</a> -
                            Author: <a href="/author/posts/{{ post.idusers }}">{{ post.author }}</a></p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock %}


{% block js %}
<script>
    //---------------------------------------------
    // Contact Form verification
    //---------------------------------------------

    //if we have errors, then contact form sent and has errors, so show the modal
    {%  if contactErrors is not null %}
    $(window).on('load',function(){
        $('#contactformModal').modal('show');
    })
    {% endif %}

    $("#contactForm").validate({
        rules: {
            contactName: "required",
            contactSubject: "required",
            contactEmail: {
                required: true,
                email: true,
            },
            contactMessage: "required",
        }
    });

</script>
{% endblock %}
